@media only screen and (min-width: 62em) {

    .container {
        max-width: 1400px;
    }

    main{
        grid-template-columns: 1% auto auto auto 1%;
    }

    #contrast {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #alignment {
        grid-column: 3/4;
        grid-row: 1/2;

    }
    
    #hicks-law {
        grid-column: 4/5;
        grid-row: 1/2;
    }
}