@media only screen and (min-width: 32.5em) {

    .container {
        max-width: 1200px;
    }

    header {
        font-size: 22px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(3) {
        grid-column: span 2;
        
    }

    main section h1 {
        font-size: 28px;
    }

    main section h2 {
        font-size: 24px;
    }
}