* {
	box-sizing: border-box;
	--color1: #4833eb;
	--color2: #dec0f1;
	--color3: #fff;
}

body {
	margin: 0 auto;
	font-family: "Marvel", sans-serif;
	/* background-color: var(--color1); */
}

/* HEADER CSS STYLING */

header {
	margin: 0 auto;
	text-align: center;
	background-color: var(--color2);
}

.logo-block,
.nav {
	padding: 5px;
}

.logo-block {
	margin-bottom: -20px;
}

.logo-block img {
	margin-bottom: -5px;
}

.logo-block p {
	color: var(--color1);
	font-size: 20px;
}

.nav {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--color1);
}

.nav li {
	list-style: none;
	font-size: 24px;
	padding: 5px;
}

.nav a {
	text-decoration: none;
	color: var(--color3);
	padding: 5px;
}

.nav a:hover {
	background-color: var(--color2);
	color: var(--color1);
	padding: 5px;
	border-radius: 10px;
}

/* HOME PAGE CSS SYLING*/

.main-container {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0.75rem;
	gap: 0.5rem;
}

.area-locations {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.area-locations h2 {
	color: var(--color1);
	font-size: 32px;
}

.area-locations .card {
	background: var(--color1);
	text-align: center;
	border-radius: 8px;
	box-shadow: 2px 2px 6px black;
	margin-bottom: 15px;
	padding: 5px;
}

.card img {
	border-radius: 8px;
	width: 100%;
	height: auto;
}

.card h4 {
	font-size: 24px;
}

.card h4,
.card p {
	margin: 5px;
	color: var(--color3);
}

.card p {
	font-size: 18px;
}
