* {
	box-sizing: border-box;
	--color1: #4833eb;
	--color2: #957fef;
	--color3: #b79ced;
	--color4: #dec0f1;
	--color5: #efd9ce;
}

body {
	margin: 0 auto;
	font-family: "Marvel", sans-serif;
	/* background-color: var(--color1); */
}

/* HEADER CSS STYLING */

header {
	margin: 0 auto;
	text-align: center;
	background-color: var(--color4);
}

.logo-block,
.nav {
	padding: 5px;
}

.logo-block {
	margin-bottom: -20px;
}

.logo-block img {
	margin-bottom: -5px;
}

.logo-block p {
	color: var(--color1);
	font-size: 20px;
}

.nav {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--color5);
}

.nav li {
	list-style: none;
	font-size: 26px;
	padding: 5px;
}

.nav a {
	text-decoration: none;
	color: var(--color1);
	padding: 5px;
}

.nav a:hover {
	background-color: var(--color1);
	color: var(--color5);
	padding: 5px;
	border-radius: 10px;
}

/* HOME PAGE CSS SYLING*/

.main-container {
	display: grid;
	grid-template-columns: 1fr;
	margin: .75rem;
	gap: 0.5rem;
}

.area-locations {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}