@media only screen and (min-width: 32em) {
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
    }

    nav ul li {
        font-size: 20px;
    }

    section {
        width: 600px;
        margin-top: 80px;
    }

    section h2 {
        font-size: 38px;
    }

    section p {
        font-size: 24px;
    }
}