@media only screen and (min-width: 32em) {
  /* Header CSS */

  .top-header {
    width: 95%;
    margin: auto;
  }

  /* Main CSS */

  main {
    grid-template-columns: 1fr 1fr 225px;
    grid-template-rows: repeat(5, 200px);
  }

  .hero {
    grid-column: span 3;
    grid-row: 1/2;
  }

  .news {
    grid-column: span 3;
    grid-row: 2/3;
  }

  .spotlight {
    grid-column: span 3;
    grid-row: 3/4;
    grid-template-columns: 1fr 1fr;
  }

  .join {
    display: block;
    grid-column: span 3;
    grid-row: 4/5;
  }

  .event {
    grid-column: span 2;
  }

  /* Footer CSS */

  footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer-logo-block {
    flex-direction: row;
  }

  .footer-logo-block section {
    margin-left: 10px;
    font-size: 16px;
  }

  .top-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .logo-block {
    display: flex;
  }

  .base {
    flex-direction: row;
    grid-column: span 2;
    justify-content: center;
    font-size: 15px;
  }

  .base span {
    margin-left: 2px;
    margin-right: 2px;
  }

  .seperate {
    display: inline;
  }
}
