* {
  box-sizing: border-box;
  font-family: "Frank Ruhl Libre", serif;
  --main-color1: #102542;
  --main-color2: #f87060;
  --main-color3: #cdd7d6;
}

body {
  margin: 0 auto;
  max-width: 1000px;
}

/* Header CSS */
header {
  background-color: var(--main-color3);
  color: var(--main-color1);
  padding-bottom: 6px;
}

.top-header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 98%;
}

.logo {
  width: 85px;
  height: 85px;
}

.logo-block {
  display: flex;
  align-items: center;
}

.name-block {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.town-name {
  margin-bottom: -10px;
}

nav {
  display: flex;
  align-items: center;
}

.fa {
  color: var(--main-color1);
}

.fa-brands {
  color: var(--main-color1);
  letter-spacing: 8px;
  font-size: 18px;
}

.navigation {
  list-style: none;
  text-align: center;
  padding: 6px;
  font-size: 18px;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  text-align: center;
  text-decoration: none;
}

ul.navigation.responsive {
  margin: 0;
  padding: 4px;
}

.responsive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.responsive {
  background-color: var(--main-color2);
  border-radius: 6px;
}

.responsive li {
  display: block;
  margin-bottom: 8px;
}

.responsive a {
  color: var(--main-color1);
  font-weight: bold;
}

#current-date {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding: 3px;
  background-color: var(--main-color2);
  border: 2px solid var(--main-color1);
}

/* Main CSS */
main {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  gap: 0.5rem;
}

main section {
  grid-column: span 1;
  padding: 1rem;
  border: 1px solid gray;
  background-color: var(--main-color1);
  text-align: center;
}

main section h3 {
  color: var(--main-color2);
  font-size: 21px;
  margin-top: -4px;
}

main section p {
  color: var(--main-color3);
  font-size: 15px;
}

.hero {
  background-image: url('../images/birds-eye-view.jpg');
  background-position: center;
  background-size: 100% 100%;
  position: relative;
}

.hero h3 {
  color: var(--main-color1);
  text-align: left;
  font-weight: 700;
  font-size: 28px;
}

.hero button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color1);
  background-color: var(--main-color2);
  color: var(--main-color1);
  font-weight: 700;
}

.forecast p {
  font-size: 25px;
  display: inline;
}

.join {
  display: none;
}

.spotlight {
  padding-top: 13px;
  padding-bottom: 13px;
  grid-row: span 2;
  display: grid;
  grid-template-rows: 2 150px;
}

.spotlight1,
.spotlight2 {
  border: 1px solid gray;
  margin: auto;
  width: 100%;
  grid-row: span 2;
  height: 100%;
  padding: 0.5rem;
}

.spotlight i {
  font-size: 55px;
  color: var(--main-color2);
}

main section .spotlight-contact p {
  font-size: 12px;
}

.spotlight1, .spotlight2, .spotlight3 {
  position: relative;
}

.spotlight-contact {
  position: absolute;
  bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  left: 6px;
  right: 6px;
  text-align: center;
  border-top: 1px solid var(--main-color3);
  color: var(--main-color3);
  font-size: 12px;
}

.spotlight-contact a {
  color: var(--main-color2);
}

.spotlight3 {
  display: none;
}

/* Footer CSS */
footer {
  background-color: var(--main-color3);
  color: var(--main-color1);
  padding: 6px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-logo-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 85px;
  height: 85px;
}

.footer-logo-block h4 {
  margin-bottom: -15px;
}

.contact-block a {
  color: var(--main-color1);
}

.base {
  border-top: 1px solid var(--main-color2);
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.base span {
  margin-top: 15px;
}

.seperate {
  display: none;
}
