@media only screen and (min-width: 32em) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
        margin: auto;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin-left: -60px;
    }
    
    nav ul li {
        margin-left: 25px;
    }
    
    a {
        text-decoration: none;
        color: var(--main-color1);
        font-weight: 600;
    }
}