* {
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
    --main-color1: #102542;
    --main-color2: #F87060;
    --main-color3: #CDD7D6;
    --accent-color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--main-color2);
    color: var(--main-color1);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 80px;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: var(--main-color1);
    font-weight: 600;
}

a:hover {
    background-color: var(--main-color1);
    color: var(--main-color3);
    border-radius: 5px;
    padding: 3px;
}

body {
    background-color: var(--main-color1);
}

main {
    max-width: 900px;
    margin: 0 auto;
}

main section {
    margin-bottom: 40px;
    padding: 8px;
}

section h2 {
    color: var(--main-color2);
    margin-bottom: 40px;
}

section p {
    color: var(--main-color3);
}