:root {
  --main-color: #ff7c09;
  --accent-color: #02101B;
}

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

header img {
  width: 13%;
  height: 13%;
  padding: 3px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--main-color);
  color: var(--accent-color);
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 6px black;
}

main {
  margin-bottom: 15px;
}

main h2 {
  text-decoration: underline;
  text-align: center;
  color: var(--accent-color);
}

main ul {
  list-style: none;
  margin-left: -35px;
  text-align: center;
  color: var(--accent-color);
}

main ul li {
  margin-bottom: 8px;
}

a {
  color: var(--main-color);
}

footer {
  text-align: center;
  font-weight: 600;
  background-color: var(--main-color);
  border-radius: 8px;
  box-shadow: 1px 1px 6px black;
  padding: 4px;
}