:root {
  --main-color: #ff7c09;
}

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.container {
  width: 450px;
  margin: auto;
  font-size: .75em;
}

header img {
  width: 13%;
  height: 13%;
  padding: 3px;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 15px;
  margin-top: 5px;
  background-color: #ff7c09;
  border-radius: 10px;
  box-shadow: 1px 1px 8px black;
}

main {
  margin-bottom: 15px;
}

main h2 {
  text-decoration: underline;
  text-align: center;
}

main ul {
  list-style: none;
  margin-left: -35px;
  text-align: center;
}

main ul li {
  margin-bottom: 8px;
}

footer {
  text-align: center;
  background-color: #ff7c09;
  border-radius: 10px;
  box-shadow: 1px 1px 8px black;
  padding: 2px;
}
